# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#jetbrains
.idea

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
next-env.d.ts

# nitro
.nitro/
.output/

# expo
.expo/
expo-env.d.ts
apps/expo/.gitignore
apps/expo/ios
apps/expo/android
apps/expo/credentials.json
apps/expo/creds/*
apps/expo/certs/*

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.prod

# vercel
.vercel

# typescript
dist/
.cache
exports

# turbo
.turbo
apps/expo/build-1745434169808.ipa
apps/expo/build-1745489868678.apk
